<header id="header">
    <% if user_signed_in? %>
        <div class="container-fluid">
    <% else %>
        <div class="container">
    <% end %>
        <!--logo start-->
        <div class="brand">
        <%= link_to root_path, class: "logo" do %>
            <span>Class</span>SAMURAI
        <% end %>
        </div>
    <!--logo end-->
    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
            <li class="toggle-navigation toggle-left">
                <button class="sidebar-toggle" id="toggle-left">
                    <i class="fa fa-bars"></i>
                </button>
            </li>
            <li class="hidden-xs">
                <input type="text" class="search" placeholder="Search Samurai...">
                <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                </button>
            </li>
        </ul>
    
        <ul class="nav navbar-nav navbar-right">
            <%= link_to "Sign-Out", destroy_user_session_path, :method => 'get', class: "btn" %>
        </ul>
    <% else %>
        <div class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", new_user_session_path, class: "btn" %></li>
            <li></li><%= link_to "Sign-Up", new_user_registration_path, class: "btn btn-success btn-trans hidden-sm" %>
        </div>
    <% end %>

</div>

</header>

